# Get Started!

In [3]:
print("Hello, Everyone!")

Hello, Everyone!

In [4]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [6]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

# Python Variable

## Legal variable names:
-A variable name must start with a letter or the underscore character
-A variable name cannot start with a number
-A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
-Variable names are case-sensitive (age, Age and AGE are three different variables)

In [11]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

## Illegal variable names:

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

In [2]:
#python variable
x=5
y="sam"

print(x)
print(y)

5
sam

In [3]:
x=4         #x is of type int
x="Sally"   # x is now of type str

print(x)

Sally

# Assign Variables to Multiple Variables

In [4]:
x,y,z="Orange","Bannana","Cherry"
print (x)
print(y)
print(z)

Orange
Bannana
Cherry

In [12]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [7]:
Weight= 65
Height=1.60
BMI=Weight/Height**2
print (BMI)

25.390624999999996

# Data types

# #string

In [40]:
x=str("s1")
y=str(2)
z=str(3.0)
print (x,y,z)

s1 2 3.0

In [8]:
x="perfect"
print("sam is "+x)

sam is perfect

In [9]:
x="sam is "
y="perfect"
z=x+y
print(z)

sam is perfect

In [10]:
x=5
y=10
print(x+y)

15

In [11]:
x=5
y="John"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Python Number

In [28]:
x=1      #int
y=2.8    #float
z=1j    #complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Type Conversion

In [29]:
x=1
y=2.8
z=1j
#convert from int to float:
a=float(x)

#convert from float to int:
b=int(y)

#convert from int to complex:
c=complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [2]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Integer

In [1]:
x= int(1)    #x will be 1
y=int(2.8)   #y will be 2
z= int("3")  # z will be 3 as int not string
print(x,y,z)

1 2 3

# Float

In [2]:
x=float(3)
y=float(2.8)
z=float("4")
print(x,y,z)

3.0 2.8 4.0

In [9]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print (x,y,z)

3 3 3.0

# Slicing

In [9]:
a="Hello,World!"
print(a[2:5])

llo

In [14]:
b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing

In [18]:
b="Hello, World!"
print(b[-5:-2])

orl

# String Length

In [21]:
a="Hello, World!"
print(len(a))            # Counting characters with space and everything

13

In [46]:
a="Hello, World!"
print(a.lower())

hello, world!

In [49]:
a="Hello, World!"
print(a.upper())

HELLO, WORLD!

In [22]:
a="Hello, World!"
print(a.replace("H","J"))

Jello, World!

In [15]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

# Check String

In [52]:
txt="sam is going to school"
x="ing" in txt
print(x)

True

In [53]:
txt="The rain in spain stays mainly in the plain"
x="ain" not in txt
print(x)

False

# String Concatenation

In [54]:
a="Hello"
b="World"
c=a    +     b
print(c)

HelloWorld

In [12]:
a="Hello"
b="World"
c=a+" "+ b
print(c)

Hello World

# String Format

In [58]:
age="36"
txt="My name is John, I am "+ age
print(txt)

My name is John, I am 36

In [10]:
age=36
txt="My name is John, and I am {} "
print(txt.format(age))

My name is John, and I am 36

In [60]:
quantity=3
price=49.95
item_number=567

myorder="I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity,item_number,price))

I want 3 pieces of item 567 for 49.95 dollars.

In [24]:
quantity=3
price=49.95
item_number=567

myorder="I want {2} pieces of item {0} for {1} dollars."
print(myorder.format(quantity,item_number,price))

I want 49.95 pieces of item 3 for 567 dollars.

# Python Lists

In [25]:
fruit=["apple", "banana","cherry"]
print(fruit[1])

banana

In [26]:
fruit=["apple", "banana","cherry"]
print(fruit[-1])

cherry

# Range of Index

In [27]:
fruit=["apple","banana","cherry","orange", "kiwi", "melon","mango"]
print(fruit[2:5])

['cherry', 'orange', 'kiwi']

In [28]:
fruit=["apple","banana","cherry","orange", "kiwi", "melon","mango"]
print(fruit[-4:-1])

['orange', 'kiwi', 'melon']

# Change Item Value

In [30]:
fruit=["apple", "banana","cherry"]
fruit[1]= "mango"
print(fruit)

['apple', 'mango', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [18]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [6]:
fruit=["apple", "banana","cherry"]
print(len(fruit))

3

In [8]:
fruit=["apple", "banana","cherry"]
fruit.insert(1,"orange")
print(fruit)

['apple', 'orange', 'banana', 'cherry']

# Remove Items

In [9]:
fruit=["apple", "banana","cherry"]
fruit.remove("banana")
print(fruit)

['apple', 'cherry']

In [10]:
fruit=["apple", "banana","cherry"]
del fruit[0]
print(fruit)

['banana', 'cherry']

In [11]:
fruit=["apple", "banana","cherry"]
del fruit
print (fruit)

NameError: name 'fruit' is not defined

In [16]:
fruit=["apple", "banana","cherry"]
fruit.clear()
print (fruit)

[]

In [38]:
fruit=["apple", "banana","cherry"]
fruit.pop()
print(fruit)

['apple', 'banana']

In [6]:
fruit=["apple", "banana","cherry","mango"]
fruit.pop()
print(fruit)

['apple', 'banana', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

# Copy a List

In [36]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [13]:
thislist=["apple", "banana", "cherry"]
mylist=list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join Lists

In [17]:
list1=["a","b","c"]
list2=[1,2,3]
list3=list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [18]:
list1=["a","b","c"]
list2=[1,2,3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [42]:
list1=["a","b","c"]
list2=[1,2,3]
list1.extend(list2)
print (list1)

['a', 'b', 'c', 1, 2, 3]

# Sort the list

In [30]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [31]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [32]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [12]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [35]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Shffle & Sample a list

In [13]:
items=[1,2,3,4,5,6,7,8,9,10]
import random
random.shuffle(items)     #mixxing items 
print(items)

[1, 5, 6, 9, 8, 7, 2, 3, 10, 4]

In [5]:
items=[1,2,3,4,5,6,7,8,9,10]
x=random.sample(items,1)        #pick a random items from the list
print(x)

y=random.sample(items,4)        #pic 4 random items from the list
print(y)

[5]
[10, 4, 7, 8]

In [14]:
items=["Alissa","Alice","Marco","Melissa","Mehdi","sam"]

x = random.sample(items,3)    #pick a random item from the list
print(x)
print(x[1])

y=random.sample(items,4)      #pick 4 random items from list
print(y)

['sam', 'Alissa', 'Marco']
Alissa
['Mehdi', 'Alissa', 'Marco', 'Alice']

# Tuple

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [4]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [2]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [3]:
#A tuple can contain different data types:
tuple1 = ("abc", 34, True, 40, "male")

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [7]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
print (y)
y.append("orange")
print (y)
thistuple = tuple(y)
print(thistuple)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry', 'orange')

In [9]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [11]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

# Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [12]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [13]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Join tuples

In [14]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [15]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Set

In [16]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [17]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [18]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'orange', 'apple', 'banana', 'cherry'}

In [21]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [20]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'cherry', 'microsoft'}

# Dictionary

In [19]:
phonebook={}
phonebook["John"]=9358676910
phonebook["Jack"]=9129560456
phonebook["Mahdieh"]=9128097611
print(phonebook)

{'John': 9358676910, 'Jack': 9129560456, 'Mahdieh': 9128097611}

In [24]:
phonebook= {
    "John":9358676910,
    "Jack":9129560456,
    "Mahdieh":9128097611
    
}
print(phonebook)

{'John': 9358676910, 'Jack': 9129560456, 'Mahdieh': 9128097611}

In [28]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [8]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [29]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [30]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])