# if

In [1]:
##Equals: a == b
##Not Equals: a != b
##Less than: a < b
##Less than or equal to: a <= b
##Greater than: a > b
##Greater than or equal to: a >= b

In [1]:
a=33
b=33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [1]:
a=37
b=33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

    
else:
    print ("a is greater than b")

a is greater than b

In [ ]:
a=2
b=330
print ("a") if a>b else print(b)

In [10]:
a=37
b=33
if b>a:
    print("b is greater than a")
if a==b:
    print("a and b are equal")
    
else:
    print ("a is greater than b")

a is greater than b

In [9]:
a=330
b=330
print ( "a" ) if a > b else print ("=" ) if a == b else print ( "b" )

=

# and

In [7]:
a=200
b=33
c=300
if a>b and c>a:
    print("both conditions are true")

both conditions are true

# Or

In [4]:
a=35
b=33
c=500
if a>b or a>c:
     print ("At leat one of the condition is true")

At leat one of the condition is true

In [5]:
name="John"
age=23
if name=="John" and age==23:
    print ("Your name is John, and you are also 23 years")
    
if name=="John" or name=="Rick":
    print("Your name is either John or Rick")

Your name is John, and you are also 23 years
Your name is either John or Rick

# Nested if

In [5]:
x=15
if x>10:
    print ("Above ten,")
    
    if x>20:
        print ("and also above 20!")

        
    else:
        print("but not above 20")

Above ten,
but not above 20

#  Check if item is exist

In [5]:
fruit=["apple", "banana","cherry"]
if "apple" in fruit:
    print("Yes, apple is in fruit list")

Yes, apple is in fruit list

In [6]:
fruit=["mango", "banana","cherry"]
if "apple" in fruit:
    print("Yes, apple is in fruit list")
    
else: 
    print ("apple is not in fruit list")

apple is not in fruit list

In [7]:
phonebook= {
    "John":9358676910,
    "Jack":9129560456,
    "Mahdieh":9128097611
    
}
#write your code here
phonebook["megan"]=938273443
del phonebook["Jack"]

print(phonebook)

if "megan" in phonebook:
    print("megan is listed in phonebook")

if "Mahdieh" not in phonebook:
    print("Mahdieh is not listed in phonebook")

{'John': 9358676910, 'Mahdieh': 9128097611, 'megan': 938273443}
megan is listed in phonebook

# "in" Operator

In [11]:
name="John"
if name in ["John","Rick"]:
    print ("Your name is either John or Rick")

Your name is either John or Rick

# While

In [6]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [7]:
i=1
while  i<6:
    print(i)
    
    if i==3:
        break
        
    i+=1

1
2
3

In [1]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [2]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
    print(i)

1
2
4
5
6

In [4]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

# For

In [9]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [10]:
for x in range (6):
    print(x)

0
1
2
3
4
5

In [11]:
for x in range (2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [12]:
for x in range (6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

# Loop through a list

In [1]:
fruit=["apple", "banana","cherry"]
for x in fruit:
      print(x)

apple
banana
cherry

In [2]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [3]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
     print(thislist[i])

apple
banana
cherry

In [13]:
adj=["red","big","tasty"]
fruit=["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [14]:
fruit=["apple","banana","cherry"]
for x in fruits:
    print(x)
    
    if x=="banana":
        break

apple
banana

In [6]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [8]:
phonebook= {
    "John":9358676910,
    "Jack":9129560456,
    "Mahdieh":9128097611
    
}
for name,number in phonebook.items():
    
     print ("phone number of %s is %d"% (name,number))

phone number of John is 9358676910
phone number of Jack is 9129560456
phone number of Mahdieh is 9128097611

# "%" Operator

In [16]:
name="Mahdieh"
print("Hello, %s!" % name)

Hello, Mahdieh!

In [25]:
name="Mahdieh"
age=12
print("%s is %d years old." % (name,age))

Mahdieh is 12 years old.

In [12]:
name="John"
age=23
print("Hello user! your name is {0} and your age is {1}.".format(name,age))

Hello user! your name is John and your age is 23.

In [13]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

# Define function

In [24]:
def findarea (r):
    PI= 3.142
    return PI * (r*r)

print ("Area is %.6f" % findarea(5))

Area is 78.550000

In [15]:
def fact(x):
    s=1
    for i in range (x):
        s=s*(i+1)
    return s
print(fact(5))

120

# Input

In [8]:
name= input("enter your name: ")
age=input("enter your age: ")

enter your name: Mahdieh
enter your age: 28

# Python dates

In [9]:
import datetime

x = datetime.datetime.now()
print(x)

2021-08-12 14:09:34.549507

In [5]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2021
Sunday

In [10]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%A"))
print(x.strftime("%B"))

Friday
June

In [6]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00